.tile {



flex:1;}

.grid-row{
    display:flex;
    flex:1;
}


.grid-container 
  
{
    border: 2px solid #a8dadc;
    border-radius: 1rem;
    width: 25rem;
    height: 25rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-direction: column;
}